#story
  #story-info
    %h2= @user.name
    .pod
      .avatar.large
        = image_tag @user.photo_url("large")
  #story-content
    %h1
      Timeline
    %ul
      = render :partial => "/stories/story", :collection => @stories