!!! 5
%html{ :lang => "en"}
  %head
    %title
      Memory
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'description', :content => "" }
    %meta{ :name => 'keywords', :content => "" }
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header
      %h1
        %a{ :href => '/', :title => "" }
          Memory
    - flash.each do |key, value|
      .flash{ :class => key } 
        = value
    #content
      =yield
    #footer
      %p
        &copy; <%= Time.now.year %> Memory
